.storybook {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.storybook .rank {
  font-size: 1em;
  flex: 0 0 60px;
  text-align: center;
  vertical-align: middle;
  padding: 5px;

  @media (max-width: 768px) {
    flex: 0 0 45px;
    padding-bottom: 0;
  }
}

.storybook .title {
  font-size: 1.2em;
  align-self: center;
  flex: 1;
}

.storybook .infobox {
  padding: 5px;
  flex: 0 0 25%;
  word-wrap: break-word;
  align-self: center;
  @media (max-width: 768px) {
    flex: 100%;
    text-align: right;
    margin-top: -5px;
    margin-bottom: 5px;
  }
}

.storybook .infoitem {
  display: inline-block;
  padding: 0 2px;
}
