.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  max-height: 80%;
  overflow: scroll;
  border-radius: 5px;

  padding: 20px;
}
